<!--search-->
<div class="row search-panel">

  <div class="col-lg-12">

    <div class="row search-box">

      <!-- left side (logo) -->
      <div class="col-xs-12 col-sm-4 search-left">
        <h3>OMDb</h3><h4> The Open Movie Database</h4>
      </div>

      <!-- right side (search) -->
      <div class="col-xs-12 col-sm-8 search-right">
        <!--search bar -->
        <div class="input-group">
          <input type="text" [(ngModel)]="keywords" class="form-control" placeholder="I am looking for..." (keyup)="search()" (keyup.enter)="search()">
          <div class="input-group-btn">
            <button type="button" (click)="search()" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
          Search
        </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Content</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- search results -->
    <ul class="list-group search-results">
      <li class="list-group-item" *ngFor="let item of results">
        <div class="row">
          <div class="col-xs-6 col-sm-2">
            <img class="result-poster" src="{{item.Poster}}" onError="this.src='/images/no-image.jpg';" alt="title-poster" />
          </div>
          <div class="col-xs-6 col-sm-10">
            <a href={{item.webUrl}} target="_blank"><b>{{item.Title}}</b></a>
            <p class="result-summary">{{item.Year}} ‧ {{item.Genre}} ‧ {{item.Runtime}}</p>
            <p class="result-summary"><b>Actor(s)</b> {{item.Actors}}</p>
            <p class="result-section"><b>Rating</b> {{item.Rated || 'Rating not available'}}</p>
          </div>
        </div>
      </li>
    </ul>

    <!-- toast notifications -->
    <simple-notifications [options]="notificationOptions"></simple-notifications>

  </div>
</div>
<!--/search-->